{% extends 'base.html.twig' %}

{% block title %}Welcome to the Shop!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1 class="text-center">Welcome to the Shop!</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <h2>Offers!</h2>
        <hr>

    </div>
    <div class="row">
        <h2><a href="/products" class="btn btn-primary btn-lg">See all products</a></h2>
    </div>
{% endblock %}
