<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% if app.request.hasPreviousSession %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-center">{% block pageTitle %}{% endblock %}</h1>
            <a href="#" onclick="window.history.back()">Back</a> -
            <a href="/cart">🛒 Cart</a>
        </div>
    </div>
    <hr>
    {% block body %}{% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
