{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}
{% block pageTitle %}Checkout{% endblock %}

{% block body %}
    <h1>Shipping Address</h1>
    {{ form(form) }}

{% endblock %}
